<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌曲评论</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comment.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}fontawesome/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <script src="{{ STATIC_URL }}js/single_playlist_info.js"></script>
</head>

<body>
    {% include 'share_layout/nav.html' %}
    <div id="shadow">
    </div>
    <div class="add_toMylist">
        <div class="words">
            <span>添加到我的歌单</span>
            <span class="close"> <i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="mcontainer">
        <div class="header">
            <div class="header_left">
                <img src="{{ picture_url }}" width="130" height="130">
            </div>
            <div class="header_right">
                <div class="row1">
                    <span class="music_box">歌曲</span>
                    <span class="music_name">{{ songname }}</span>
                </div>
                <div class="row2">
                    <span class="singer">{{ singer }}</span>
                </div>
            </div>
        </div>

        <form role="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">正文：</label>
                <textarea name="comment" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">发表评论</button>
                </div>
            </div>
            <input type="hidden" name="song" value="{{ songid }}">
        </form>

        <div class="comment-wrapper">
            <div class="comment-header">
                评论<span class="comment-num">{{ counts }}</span>
            </div>
        </div>

        <div class="commentlist-container">
            <ol class="commentlist">

                {% for each in comments_result %}

                <li class="comment">
                    <div class="comment-body">
                        <div class="comment-author">
                            <img src="{{STATIC_URL }}images/user_icon.jpg" alt="{{ each.author }}" class="userimg">
                            <span class="authorname">{{ each.author }}</span>
                        </div>

                        <div class="comment-date">{{ each.time }}</div>
                        {{ each.body | linebreaks}}
                    </div>
                </li>

                {% endfor %}
                <!-- <li class="comment">
                    <div class="comment-body">
                        <div class="comment-author">
                            <img src="{{STATIC_URL }}images/user_icon.jpg" alt="{{ username }}" class="userimg">
                            <span class="authorname">akagb</span>
                        </div>

                        <div class="comment-date">2020年2月5日 10:46</div>
                        <p>这里是评论区<br>hhh</p>
                    </div>
                </li> -->
            </ol>
        </div>
    </div>



    {% include 'share_layout/footer.html' %}
</body>

</html>